chardet==2.0.1
click==6.7
colorama==0.2.5
Flask==0.12.1
Flask-MySQL==1.4.0
html5lib==0.999
icalendar==3.11.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
PyMySQL==0.7.11
python-dateutil==2.6.0
pytz==2017.2
requests==2.2.1
six==1.5.2
urllib3==1.7.1
virtualenv==15.1.0
Werkzeug==0.15.3
